:root {
    --mainColor: #15202b;
    --secondaryColor: #192734;
    --color: #15202b;

    --borderColor: #164d56;

    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeDotBorder: #fff;

    --previewBgClor: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --btnColor: #17a2b8;
}