html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

body * {
  transition: 0.5s;
  position: relative;
}

body::-webkit-scrollbar {
  /* border: none; */
  display: none;
  /* border-radius: 10px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Russo One", sans-serif;
  color: var(--mainText);
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  font-family: "Roboto Mono", monospace;
  color: var(--secondaryText);
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: hidden;
  /* height: var(--sectionHeight); */
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: hidden;
  /* height: var(--sectionHeight); */
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.intro-wrapper:hover,
section:nth-child(2)>div>.main-container:hover {
  transform: scale(1.05);
  overflow-y: hidden;
}

/* s2::-webkit-scrollbar {
  display: none;
} */

section:nth-child(2)>div>.main-container {
  overflow: hidden;
}

.s1:nth-child(1) {
  overflow: hidden;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--borderColor);
  background-color: var(--secondaryColor);
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-col right-col";
  /* height: 70vh; */
  margin-bottom: 30px;
}

.left-column {
  grid-area: left-col;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation a {
  color: var(--mainText);
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

.browser-dot {
  margin: 5px;
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

#profile-pic {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

.theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
  background-color: blanchedalmond;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

.selected-theme {
  border-width: 5px;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-col;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: calc(100%-30px);
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBgClor);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
  /* align-items: center; */
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

/* .bcg-wrapper {
    margin: 30px 0px 30px 0px;
} */

.s2 .main-container {
  /* padding: 0px 20px; */
  background-color: var(--mainColor);
}

body>section:nth-child(2)>div {
  margin: 30px 0px 30px 0px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 30px 20px;
  gap: 80px;
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  /* height: 70vh; */
  /* align-content: center; */
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

#social-links {
  display: flex;
  justify-content: space-evenly;
}

.social-link-icon {
  border-radius: 7px;
  background-color: #fff;
}

.social-link-icon img {
  width: 100%;
  height: 100%;
}

#freelance-image {
  width: 100%;
}

/* .post-wrapper {
    display: flex;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    width: 150vw;
    justify-content: center;
    padding-bottom: 50px;
} */

.post-row {
  display: flex;
}

.btn-wrapper {
  margin: auto 0px;
  align-items: center;
}

.arrow-btn {
  background-color: var(--mainColor);
  border-radius: 50%;
  border: none;
}

.arrow-btn:hover {
  background-color: var(--secondaryColor);
}

.arrow-btn:focus {
  outline: none;
}

.arrow-btn.left {
  transform: rotate(-90deg);
}

/* body>section:nth-child(3)>div>div>div:nth-child(3)>button */
.arrow-btn.right {
  transform: rotate(90deg);
}

.btn-hide {
  visibility: hidden;
}

.post-wrapper {
  scroll-behavior: smooth;
}

.post-wrapper {
  /* height: 600px; */
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-top: 5px;
  /* position: absolute; */
  /* margin-bottom: -250px; */
}

.post-wrapper .slide {
  display: inline-block;
  width: 300px;
  padding: 20px 20px;
  white-space: normal;
}

.slide>a {
  margin: auto 0;
}

.post-wrapper::-webkit-scrollbar {
  display: none;
  /* border-radius: 10px; */
}

.post {
  /* border: 1px solid var(--borderColor); */
  border-radius: 10px;
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  position: relative;
}

.post img {
  border-radius: 10px 10px 0 0;
  height: 400px;
}

.post-preview {
  border-radius: 0 0 10px 10px;
  padding: 0 5px;
  /* background-color: #fff; */
  /* visibility: hidden; */
}

.post-title {
  /* color: black; */
  margin: 0;
  padding-top: 10px;
}

.post-intro {
  /* color: #4b5156; */
  font-size: 14px;
}

/* .post-wrapper {
    display: grid;
    padding-bottom: 40px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
} */

.post {
  position: relative;
  overflow-y: hidden;
}

.post .post-preview {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainText);
  height: 0;
  transition: 0.3s linear;
}

.slide:hover .post-preview {
  height: 60%;
  overflow-y: hidden;
}

.thumbnail {
  width: 100%;
  display: block;
  object-fit: cover;
  object-fit: fill;
}

.post:hover {
  transform: scale(1.1);
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0px;
  color: #fff;
  background-color: var(--btnColor);
  border: none;
  border-radius: 20px;
}

#submit-btn:focus {
  outline: none;
}

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding: 10px;
  background-color: var(--mainColor);
  border-radius: 10px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
}

option {
  background-color: var(--secondaryColor);
  /* border-radius: 25px; */
  color: #fff;
}

.error-border {
  border-color: red;
  border-width: 1.5px;
}

select {
  color: white;
}

.alert {
  padding: 10px;
  background-color: #36f465;
  color: white;
  border-radius: 20px;
  text-align: center;
  display: none;
  /* visibility: hidden; */
  transition: all 0.5s;
}

@media screen and (max-width: 600px) {
  .post-wrapper .slide {
    width: 200px;
  }

  .post img {
    border-radius: 5px 5px 0 0;
    height: 300px;
  }

  .post .post-preview {
    height: auto;
    max-height: 70%;
    overflow-y: scroll;
  }

  #navigation #about-me {
    display: none;
  }

  #navigation .seperator {
    display: none;
  }
  .post:hover {
  transform: none;
  }
  /*.post p{
  	font-size: 0.8em
  }
  .post a{
  	font-size: 0.8em
  }
  .post h6{
  	font-size: 0.8em
  }*/
  /*.post p{
  	overflow: auto;
  }*/

}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-col"
      "right-col";
  }

  .right-column {
    justify-content: center;
    /* margin-left: 20%; */
  }

  #preview-shadow {
    background-color: var(--previewShadow);
    width: 250px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
  }

  #preview {
    width: 250px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBgClor);
    padding: 10px;
    position: relative;
    margin: 0 auto;
  }
}